<div class="w3-display-container mySlides">
    {{#each characterList as |character|}}
    <img src="{{character.image}}">
    <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
        <p>Alignment: {{character.alignment}}</p>
        <p>Personality: {{character.personality}}</p>
        <p>Physical: {{character.physical_description}}</p>
        <p>Back Story: {{character.backstory}}</p>
        <p>Abilities: {{character.abilities}}</p>
        {{/each}}
    </div>
</div>

<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

<script src="/js/carousel.js"></script>