
{{!-- main character page img display function --}}
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  {{!-- if character is not empty, loop through each character image's link --}}
  {{#if character.length}}
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
        {{#each character}}
        {{!-- *** TODO: this link might need to change based on img link --}}
        <label for="character-name">Charater name: {{character.name}}</label>
      <img src="/api/character/{{character.id}}" class="d-block w-100" alt="character-image">
      {{!-- show character's description  *** TODO: do we need all these info to display under character's img --}}
      <label for="character-description">description:</label>
        <textarea class="form-input" id="character-description" name="character-description">
      Aligmeng: {{character.alignment}} <br>
      Personality: {{character.personality}} <br>
      Physical: {{character.physical_descbription}} <br>
      Back Story: {{character.backstory}} <br>
      Abilities: {{abilities.name}}
      </textarea>
    </div>
  </div>
  {{!-- slide imgs left and right with previous and next arrow--}}
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
  {{!-- *** TODO: button group to add/edit/delete character only shows on user's own characters --}}
  {{!-- *** TODO: complete href link --}}
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" href="">Add Charater</button>
  <button type="button" class="btn btn-secondary" href="">Edit Charater</button>
  <button type="button" class="btn btn-secondary" href="">Delete Charater</button>
</div>
